<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983110812621-b7j5gfc40ldksp8e77dgqh3tiio8muem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983110812621-b7j5gfc40ldksp8e77dgqh3tiio8muem</string>
	<key>API_KEY</key>
	<string>AIzaSyAIK38U-Uv_cVIUjE4nxFqmj-QeraDYxwM</string>
	<key>GCM_SENDER_ID</key>
	<string>983110812621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shiftcalendar.shiftCalendar</string>
	<key>PROJECT_ID</key>
	<string>deb-shiftsync-7984c</string>
	<key>STORAGE_BUCKET</key>
	<string>deb-shiftsync-7984c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983110812621:ios:c5f5e95e46093035fffa84</string>
</dict>
</plist>